
.accordion{
    width: 95%;
    margin-top: 2%;
}

.btn.btn-link{
    text-decoration: none;
}

.card-header{
    background-color: #3A7CA5;
}

.card-body{
    background-color: #81C3D7;
}

.Titulo_Suporte.mx-auto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    background-color: #3A7CA5;
    color: white;
    width: 95%;
    border-radius: 5px;
    height: 10%;
    padding: 0.3%;
}


.Subtitulo_Suporte.my-auto{
    font-weight: 650;
    text-align: center;
    font-size: 150%;
    color: white;
}

.Texto_Suporte{
    font-weight: 550;
    text-align: justify;
}

/*AQUI ACABA O CONTEUDO*/